* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 100%);
    display: flex;
}

/* Main Content */
.main-content {
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 16em;
    margin-right: 10em;
}

.logo {
    width: 150px;
    margin-top: 4em;
}

.title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 5rem;
    letter-spacing: 15px;
    margin-top: 20vh;
}

.bold-text {
    font-weight: 600;
    color: hsl(0, 6%, 24%);
}

.main-content p {
    color: hsl(0, 36%, 70%);
}

.text {
    line-height: 1.7;
    font-size: 1.1rem;
    margin: 1em 0;
    max-width: 80%;
}


/* Form */
form {
    margin: 1em 0;
}

input {
    border: 2px solid hsla(0, 36%, 70%, 0.416);
    border-radius: 20px;
    padding: .85em;
    color: hsl(0, 36%, 70%);
    width: 70%;
}

input::placeholder {
    color: hsla(0, 36%, 70%, 0.619);
    font-family: 'Josefin Sans', sans-serif;
}

.btn {
    border: none;
    padding: .6em 1.5em;
    border-radius: 20px;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
    color: #fff;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: 300;
    box-shadow: 0px 5px 12px 1px hsla(0, 36%, 70%, 0.619);
    cursor: pointer;
    transition: 1s;
}

.btn:hover {
    transform: rotateX(180deg);
}


/* Side Image */
.side-img {
    background-image: url("./images/hero-desktop.jpg");
    background-size: cover;
    background-color: #404040;
    background-position: center;
    min-height: 50vh;
    width: 50%;
    margin-left: 0;
}

@media (min-width:700px) {
    .title,
    .logo {
        margin-top: 1em;
    }
}